USE [MedicinesManagement]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[Address] [nchar](255) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[Email] [nchar](100) NOT NULL,
	[Country] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineCategories]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](100) NOT NULL,
 CONSTRAINT [PK_MedicineCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[TradeName] [nchar](100) NOT NULL,
	[ActiveIngredient] [nchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Unit] [nchar](50) NOT NULL,
	[Concentration] [nchar](50) NOT NULL,
	[Form] [nchar](50) NOT NULL,
	[SalePrice] [decimal](18, 0) NOT NULL,
	[ManufacturerID] [int] NOT NULL,
 CONSTRAINT [PK_Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storages]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storages](
	[StorageID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [nchar](50) NOT NULL,
	[BatchNumber] [nchar](50) NOT NULL,
	[MedicineID] [int] NOT NULL,
	[ManufactureDate] [date] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportPrice] [decimal](18, 0) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ImportDate] [date] NOT NULL,
 CONSTRAINT [PK_Storages] PRIMARY KEY CLUSTERED 
(
	[StorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nchar](100) NOT NULL,
	[Address] [nchar](255) NOT NULL,
	[PhoneNumber] [nchar](15) NOT NULL,
	[Email] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: Thứ Năm 15 05 2025 10:25:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](100) NOT NULL,
	[Password] [nchar](100) NOT NULL,
	[FullName] [nchar](100) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[Address] [nchar](255) NOT NULL,
	[Email] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineCategories] ON 

INSERT [dbo].[MedicineCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Analgesics and Antipyretics                                                                         ')
INSERT [dbo].[MedicineCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Antibiotics                                                                                         ')
INSERT [dbo].[MedicineCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Antifungal Agents                                                                                   ')
SET IDENTITY_INSERT [dbo].[MedicineCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [TradeName], [ActiveIngredient], [CategoryID], [Unit], [Concentration], [Form], [SalePrice], [ManufacturerID]) VALUES (1, N'Panadol                                                                                             ', N'Paracetamol                                                                                         ', 1, N'Viên                                              ', N'500mg                                             ', N'Viên nén                                          ', CAST(4800 AS Decimal(18, 0)), 1)
INSERT [dbo].[Medicines] ([MedicineID], [TradeName], [ActiveIngredient], [CategoryID], [Unit], [Concentration], [Form], [SalePrice], [ManufacturerID]) VALUES (2, N'Efferalgan                                                                                          ', N'Paracetamol                                                                                         ', 1, N'Viên                                              ', N'500mg                                             ', N'Viên nén                                          ', CAST(2500 AS Decimal(18, 0)), 2)
INSERT [dbo].[Medicines] ([MedicineID], [TradeName], [ActiveIngredient], [CategoryID], [Unit], [Concentration], [Form], [SalePrice], [ManufacturerID]) VALUES (3, N'Hapacol                                                                                             ', N'Paracetamol                                                                                         ', 2, N'Viên                                              ', N'500mg                                             ', N'Viên nén                                          ', CAST(2800 AS Decimal(18, 0)), 3)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Storages] ON 

INSERT [dbo].[Storages] ([StorageID], [ReceiptCode], [BatchNumber], [MedicineID], [ManufactureDate], [ExpiryDate], [Quantity], [ImportPrice], [SupplierID], [ImportDate]) VALUES (1, N'250508001                                         ', N'BATCH001                                          ', 1, CAST(N'2023-05-01' AS Date), CAST(N'2025-05-01' AS Date), 100, CAST(2000 AS Decimal(18, 0)), 1, CAST(N'2025-05-08' AS Date))
INSERT [dbo].[Storages] ([StorageID], [ReceiptCode], [BatchNumber], [MedicineID], [ManufactureDate], [ExpiryDate], [Quantity], [ImportPrice], [SupplierID], [ImportDate]) VALUES (2, N'250508002                                         ', N'BATCH002                                          ', 2, CAST(N'2023-04-01' AS Date), CAST(N'2025-04-01' AS Date), 150, CAST(2200 AS Decimal(18, 0)), 2, CAST(N'2025-05-08' AS Date))
INSERT [dbo].[Storages] ([StorageID], [ReceiptCode], [BatchNumber], [MedicineID], [ManufactureDate], [ExpiryDate], [Quantity], [ImportPrice], [SupplierID], [ImportDate]) VALUES (3, N'250508003                                         ', N'BATCH003                                          ', 3, CAST(N'2023-03-01' AS Date), CAST(N'2025-03-01' AS Date), 200, CAST(2400 AS Decimal(18, 0)), 3, CAST(N'2025-05-08' AS Date))
SET IDENTITY_INSERT [dbo].[Storages] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Address], [PhoneNumber], [Email]) VALUES (1, N'Công ty Dược Hậu Giang                                                                              ', N'288 Bis Nguyễn Văn Cừ, Cần Thơ                                                                                                                                                                                                                                 ', N'02923898989    ', N'contact@dhgpharma.com
                                                                              ')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Address], [PhoneNumber], [Email]) VALUES (2, N'Công ty Cổ phần Traphaco                                                                            ', N'75 Yên Ninh, Ba Đình, Hà Nội                                                                                                                                                                                                                                   ', N'02438451267    ', N'info@traphaco.com.vn
                                                                               ')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Address], [PhoneNumber], [Email]) VALUES (3, N'Công ty CP Dược phẩm TW1                                                                            ', N'62 Tràng Thi, Hoàn Kiếm, Hà Nội                                                                                                                                                                                                                                ', N'02438254291    ', N'info@pharmatw1.vn                                                                                   ')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Manufacturers] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_Manufacturers]
GO
ALTER TABLE [dbo].[Medicines]  WITH CHECK ADD  CONSTRAINT [FK_Medicines_Medicines] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[MedicineCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Medicines] CHECK CONSTRAINT [FK_Medicines_Medicines]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [FK_Storages_Medicines] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [FK_Storages_Medicines]
GO
ALTER TABLE [dbo].[Storages]  WITH CHECK ADD  CONSTRAINT [FK_Storages_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Storages] CHECK CONSTRAINT [FK_Storages_Suppliers]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Identity = Yes


Identity Increment = 1


Identity Seed = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'CONSTRAINT',@level2name=N'PK_Users'
GO
