
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    @Html.Partial("Hearder")
    <div>
        <h1>Đây là View About của Controller Home</h1>
        <h2>Xin chào: @TempData["name"]</h2>
    </div>
</body>
</html>
