
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        Họ tên: Kiều Văn Khải <br />
        ĐT: 0923737473

        <h1>Bay giờ là @ViewBag.BayGio</h1>
        <h1>Xin chào: @TempData["name"]</h1>

    </div>
</body>
</html>
