
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
</head>
<body>
    <div> 
        <h1>Xin chào: @ViewData["name"] </h1>
        <h2>Bây giờ là @ViewData["CurrentTime"]</h2>
    </div>
</body>
</html>
