USE [master]
GO
/****** Object:  Database [HRMDB]    Script Date: 25/04/2025 7:36:13 PM ******/
CREATE DATABASE [HRMDB]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMDB]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 25/04/2025 7:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](30) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mobile] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Photo] [image] NULL,
	[CurriculumVitae] [image] NULL,
	[CurriculumVitaeType] [nvarchar](255) NULL,
	[OrganizationID] [int] NULL,
	[DateofBirth] [datetime] NULL,
	[IndentifyNumber] [nvarchar](50) NULL,
	[PositionID] [int] NULL,
	[SexID] [int] NULL,
 CONSTRAINT [PK__EMPLOYEE__7AD04FF1B450A3C5] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZATION]    Script Date: 25/04/2025 7:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZATION](
	[OrganizationID] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](255) NULL,
	[Code] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [char](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[ParentID] [int] NULL,
	[Lever] [int] NULL,
 CONSTRAINT [PK__ORGANIZA__CADB0B725CEFBDBA] PRIMARY KEY CLUSTERED 
(
	[OrganizationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 25/04/2025 7:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](255) NULL,
 CONSTRAINT [PK__POSITION__60BB9A597A14DACD] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEX]    Script Date: 25/04/2025 7:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEX](
	[SexID] [int] NOT NULL,
	[SexName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 25/04/2025 7:36:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Discription] [nvarchar](255) NULL,
	[EmployeeID] [int] NULL,
	[ma_moi] [int] NULL,
 CONSTRAINT [PK__USERS__A349B04203FFAC20] PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EmployeeID], [FirstName], [LastName], [Address], [Phone], [Mobile], [Email], [Photo], [CurriculumVitae], [CurriculumVitaeType], [OrganizationID], [DateofBirth], [IndentifyNumber], [PositionID], [SexID]) VALUES (118, N'Trần Hải', N'Triều', N'Hà Nội', NULL, N'0902603358', N'trieuth@tnt-tech.vn', NULL, NULL, NULL, 4, CAST(N'1975-09-25T00:00:00.000' AS DateTime), NULL, 1, 0)
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [FirstName], [LastName], [Address], [Phone], [Mobile], [Email], [Photo], [CurriculumVitae], [CurriculumVitaeType], [OrganizationID], [DateofBirth], [IndentifyNumber], [PositionID], [SexID]) VALUES (119, N'Trần Hồng', N'Hòa', N'Hà Nội', NULL, N'0913226249', N'hoath@tnt-tech.vn', NULL, NULL, NULL, 4, CAST(N'1974-10-28T00:00:00.000' AS DateTime), NULL, 2, 0)
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [FirstName], [LastName], [Address], [Phone], [Mobile], [Email], [Photo], [CurriculumVitae], [CurriculumVitaeType], [OrganizationID], [DateofBirth], [IndentifyNumber], [PositionID], [SexID]) VALUES (120, N'Đặng Việt', N'Hùng', N'Hà Nội', NULL, N'0915436211', N'hungdv@tnt-tech.vn', NULL, NULL, NULL, 5, CAST(N'1988-04-26T00:00:00.000' AS DateTime), NULL, 4, 0)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[ORGANIZATION] ON 

INSERT [dbo].[ORGANIZATION] ([OrganizationID], [OrganizationName], [Code], [Address], [Phone], [Fax], [Email], [Website], [ParentID], [Lever]) VALUES (1, N'TNT Technologies Joint Stock Company', N'TNT', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ORGANIZATION] ([OrganizationID], [OrganizationName], [Code], [Address], [Phone], [Fax], [Email], [Website], [ParentID], [Lever]) VALUES (2, N'TRỤ SỞ CÔNG TY TẠI HÀ NỘI', N'HANOI', NULL, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[ORGANIZATION] ([OrganizationID], [OrganizationName], [Code], [Address], [Phone], [Fax], [Email], [Website], [ParentID], [Lever]) VALUES (3, N'VĂN PHÒNG ĐẠI DIỆN TP HỒ CHÍ MINH ', N'HCM', NULL, NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ORGANIZATION] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([PositionID], [PositionName]) VALUES (1, N'Giám đốc')
INSERT [dbo].[POSITION] ([PositionID], [PositionName]) VALUES (2, N'Phó Giám đốc')
INSERT [dbo].[POSITION] ([PositionID], [PositionName]) VALUES (3, N'Trưởng đại diện VP Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
INSERT [dbo].[SEX] ([SexID], [SexName]) VALUES (0, N'Nam')
INSERT [dbo].[SEX] ([SexID], [SexName]) VALUES (1, N'Nữ')
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UsersID], [UserName], [Password], [Discription], [EmployeeID], [ma_moi]) VALUES (1, N'Admin', N'd2cc342653e944df15923698c6bdd1ac', NULL, 118, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__Organi__5070F446] FOREIGN KEY([OrganizationID])
REFERENCES [dbo].[ORGANIZATION] ([OrganizationID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__Organi__5070F446]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__Positi__5165187F] FOREIGN KEY([PositionID])
REFERENCES [dbo].[POSITION] ([PositionID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__Positi__5165187F]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__SexID__52593CB8] FOREIGN KEY([SexID])
REFERENCES [dbo].[SEX] ([SexID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__SexID__52593CB8]
GO
USE [master]
GO
