
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewKhac</title>
</head>
<body>
    @Html.Partial("Hearder")
    <div>
        <h1>Đây là View Khác của Methord Index trong COntroller Home</h1>
        <h2>Bây giờ là @ViewBag.BayGio</h2>



    </div>
</body>
</html>
