@model FistAppMVC.Models.Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <table width="100%" border="1">
            <tr>
                <td colspan="2">Thông tin của sản phẩm</td>
            </tr>
            <tr>
                <td width="30%">@Html.DisplayNameFor(model=>model.ProductID)</td>
                <td>@Html.DisplayFor(model => model.ProductID)</td>
            </tr>
            <tr>
                <td width="30%">@Html.DisplayNameFor(model => model.ProductName) </td>
                <td>@Html.TextBoxFor(model => model.ProductName)</td>
            </tr>
        </table>
    </div>
</body>
</html>
